<div class="row"></div>
  <main class="valign-wrapper">
    <div class="container valign">
     <div class="row">
        <div class="col s6">
          <a href="#/empresa">
            <div class="card-panel center">
                <i class="large material-icons">search</i>
                <p><span><h2>Empresas</h2></span></p>
                <p>¿Buscas quién desarrolle tu proyexto? Nosotros te ayudamos a encontrar el developer ideal para ti.</p>
            </div>
          </a>
        </div>

      <div class="col s6">
          <a href="#/desarrollador">
            <div class="card-panel center">
                <i class="large material-icons">code</i>
                <p><span><h2>Desarrollador</h2></span></p>
                <p>Crea tu perfil y encuentra el trabajo de tus sueños en el gran campo laboral del desarrollo.</p>
            </div>
          </a>
        </div>
    </div>
     </div>
  </main>