<div class="row"></div>
  <main class="valign-wrapper">
    <div class="container valign">
     <div class="row">
        <div class="col s6">
          <a href="#/empresa">
            <div class="card-panel center">
                <i class="large material-icons">search</i>
                <p><span><h2>Empresas</h2></span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi voluptates itaque, voluptatibus reiciendis ullam ut molestiae rem cum in neque doloremque totam provident pariatur doloribus dolorem odio laborum aliquam!</p>
            </div>
          </a>
        </div>

      <div class="col s6">
          <a href="#/desarrollador">
            <div class="card-panel center">
                <i class="large material-icons">code</i>
                <p><span><h2>Desarrollador</h2></span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eligendi voluptates itaque, voluptatibus reiciendis ullam ut molestiae rem cum in neque doloremque totam provident pariatur doloribus dolorem odio laborum aliquam!</p>
            </div>
          </a>
        </div>
    </div>
     </div>
  </main>